.leaderboard {
}
  
  .leaderboard-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .leaderboard-score {
    padding: 10px;
  }

  .leaderboard-score__name {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .leaderboard-score__scores {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; */
  }

  .leaderboard-score__scores__score {
    background: white;
    padding: 6px;
    text-align: right;
  }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.8);
}
.gameover {
  position: absolute;
  height: 400px;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: #000;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown {
  font-size: 60px;
}