@font-face {
  font-family: 'W95';
  src: url('fonts/W95.woff2') format('woff2'),
      url('fonts/W95.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  font-family: W95;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #000000;
  color: red;
}
